.DS_Store
*.tar.gz
*.v.yml
node_modules/
dist/
.next/
.turbo
.env
.env.local
.evolution.local
docker-compose.v.yml
maintenance.tar.gz
*.log
.pnpm-store
apps/api/dist/
apps/web/.next/
packages/db/dist/
packages/db/drizzle/
